body {
    background-color: #D0EDFF;
    font-size: 12px;
    font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    margin: 30px;
}
.titulo{
    text-align: center;
    font-family: 'Colonna MT';
    font-size: 40px;
    color: #000;
}

